<launch>
    <env
        name="ROSCONSOLE_CONFIG_FILE"
        value="$(find ros_navigator)/config/config.conf"
    />
    <arg name = "frequency" default = "10" />
    <node
        pkg = "ros_navigator"
        type = "talker"
        name = "talker"
        output = "screen"
        args="$(arg frequency)"
    />
    
    <node
        pkg = "ros_navigator"
        type = "listener"
        name = "listener"
        output = "screen"
    />
</launch>
